@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Travel Review</h1>
    <p class="lead">Read and write reviews for Your travels around the world.</p>
    <p><button type="button" class="btn btn-info btn-lg" onclick="location.href='@Url.Action("Index", "Reviews")'">Read Reviews &raquo;</button></p>
</div>